@import "../assets/stylesheets/_bootstrap.scss";
/*-------------------------------------------
#########      Миксины шрифтов ###############
---------------------------------------------*/
@mixin regularText($fontRegularSize: 1.25rem, $colorRegularFont: #4F4D4E ) {
    font-family: "Lato Regular", "Arial", sans-serif;
    color: #{$colorRegularFont};
    font-size: #{$fontRegularSize};
}
@mixin boldText($fontBoldSize: 1.25rem, $colorBoldFont: #4F4D4E) {
    font-family: "Lato Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: #{$fontBoldSize};
    color: #{$colorBoldFont};
    line-height: $fontBoldSize + 0.3rem;
}
@mixin lightText($fontLightSize: 1.25rem, $colorLightFont: #4F4D4E) {
    font-family: "Lato Light", "Arial", sans-serif;
    font-weight: 300;
    font-size: #{$fontLightSize};
    color: #{$colorLightFont};
    line-height: $fontLightSize + 0.3rem;
}
@mixin flex-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
}
/*-------------------------------------------
#########         Общие настройки    ##########
---------------------------------------------*/
html {
    font-size: 16px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #fff;
    @include lightText();
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-transform: uppercase;

    span {
        @include boldText($fontBoldSize: 1.9rem);
    }
}

p {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn {
    border: 2px solid #4CACC2;
    border-bottom: none;
    border-radius: 0;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    transition: border-color 0.3s 0.25s;

    &::after {
        content: " ";
        position: absolute;
        width: 90%;
        height: 2px;
        bottom: 0;
        left: 0;
        border-top: 2px solid #4CACC2;
        transition: width 0.25s;
    }

    &::before {
        content: " ";
        position: absolute;
        width: 0;
        height: 110%;
        top: -2px;
        left: -2px;
        background-color: transparent;
        transition: width 0.25s 0.25s, border-left 0.01s 0.25s, border-right 0.01s 0.5s;
    }
}

.btn:hover {
    border-color: transparent;

    &::after {
        width: 0;
    }
    /*border-bottom-width: 2px;
border-bottom: solid red;*/
    &::before {
        border-top: 2px solid #295D66;
        border-bottom: 2px solid #295D66;
        border-left: 2px solid #295D66;
        width: 103%;
        border-right: 2px solid #295D66;
        background-color: rgba(55,55,69,0.2);
    }
}
/*-------------------------------------------
#########         Header          ##########
---------------------------------------------*/
.head {
    @include flex-row();
}

.logo {
    @include make-xs-column(3);
    text-align: center;
    vertical-align: middle;
    min-width: 200px;
}

.navigation-menu {
    @include make-xs-column(6);

    ul {
        list-style: none;
        padding: 0;
        @extend .clearfix;
        width: 90%;
        @extend .center-block;
        @include flex-row();
        justify-content: space-around;

        li {
            padding: 5% 5px;
            position: relative;

            a {
                color: #31353e;
                text-decoration: none;
            }

            &::after {
                content: "";
                position: absolute;
                border-bottom: 2px solid #4CACC2;
                opacity: 0;
                transition: 0.3s;
                width: 0;
                left: 5px;
            }
        }

        li:hover::after {
            border-bottom: 2px solid #4CACC2;
            width: 90%;
            opacity: 1;
        }
    }
}

.contacts {
    @include make-xs-column(3);
    margin-top: 10px;
    min-width: 300px;

    .contacts_col {
        float: left;
    }

    a {
        color: #4F4D4E;
        margin-top: 10px;
        display: block;
        min-width: 180px;
        @include boldText();
        text-decoration: none;

        span {
            @include lightText();
        }
    }

    .language {
        text-transform: uppercase;
        display: block;
        margin-top: 5%;
        text-align: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #4CACC2;
        border-right: none;

        a {
            min-width: 40px;
            text-align: center;
            line-height: 40px;
            text-decoration: none;
            margin: 0;
        }
    }
}
/*-------------------------------------------
#########         Main page         ##########
---------------------------------------------*/
.title {
    @include make-xs-column(7);
    float: none;
    margin-top: 10%;
    @extend .center-block;
    text-transform: uppercase;
    position: relative;
    cursor: default;

    h1 {
        @include lightText($fontLightSize: 2.5rem, $colorLightFont: #ffffff);

        span {
            @include boldText($fontBoldSize: 2.5rem, $colorBoldFont: #ffffff );
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 45%;
        bottom: -20px;
        width: 61px;
        height: 1px;
        background-color: #ffffff;
    }
}

.main-page {
    text-align: center;
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    box-shadow: 0 6px 10px 0 rgba(76, 172, 194, 0.3);

    p {
        @include regularText($fontRegularSize: 1.5rem, $colorRegularFont: #ffffff);
        @include make-xs-column(6);
        float: none;
        margin-top: 40px;
        @extend .center-block;
        cursor: default;
    }

    a {
        text-transform: uppercase;
    }
}

.main-btn {
    padding: 10px;
    min-width: 100px;
    max-width: 200px;
    @extend .center-block;
    margin-top: 40px;

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.undertitle {
    @include lightText($fontLightSize: 1.9rem);
    min-width: 220px;
    @include make-xs-column(5);
    float: none;
    text-align: center;
    @extend .center-block;

    h2 {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 40%;
            bottom: -10px;
            width: 61px;
            height: 1px;
            background-color: #4F4D4E;
        }
    }

    p {
        @include lightText();
        margin-top: 20px;
    }
}
/*-------------------------------------------
#########         Service page        ##########
---------------------------------------------*/
.service-grid {
    @include lightText($fontLightSize: 1.125rem);
    margin: 0 auto;
    max-width: 768px;

    ul {
        list-style: none;
        padding: 0;
        @extend .clearfix;

        li {
            @include make-xs-column(6);
            @include make-sm-column(3);
            padding: 20px;
            height: 112px;
            text-align: center;
            border: 1px solid #E0E2E2;
            margin-right: -1px;
            margin-bottom: -1px;
            position: relative;

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                object-position: center;
            }

            .service-grid_item__active {
                position: absolute;
                background-color: #ffffff;
                top: 5%;
                left: 5%;
                width: 0;
                height: 0;
                visibility: hidden;
                opacity: 0;
                z-index: 3;
                transition: 0.5s;
                text-align: center;
                border: 1px solid #4CACC2;
                color: #4CACC2;
                padding: 10% 7%;

                &::before {
                    position: absolute;
                    content: "";
                    width: 40%;
                    height: 1px;
                    background-color: #E0E2E2;
                    top: 10px;
                    left: 30%;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 40%;
                    height: 1px;
                    background-color: #E0E2E2;
                    bottom: 10px;
                    left: 30%;
                }

                p {
                    visibility: hidden;
                    position: relative;
                    z-index: 4;
                    width: 90%;
                    text-align: center;
                    opacity: 0;
                    transition-delay: 0.4s;
                    margin: 0 auto;
                }
            }
        }

        li:hover {
            .service-grid_item__active {
                visibility: visible;
                opacity: 1;
                width: 90%;
                height: 90%;

                p {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
/*-------------------------------------------
#########         Service page        ##########
---------------------------------------------*/
.reason {
    @include lightText($fontLightSize: 1.25rem);
    background-image: url("../img/reason.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    min-height: 390px;
    margin-top: 30px;

    &__col {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-sm-column-offset(7);
        padding-top: 50px;
        @extend .clearfix;
        padding-bottom: 20px;
    }
}
/*-------------------------------------------
#########         Service page        ##########
---------------------------------------------*/
.slider {
    @include make-xs-column(12);
    @extend .clearfix;
    float: none;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;

    ul {
        padding: 0;
        list-style: none;
        width: 9999px;
        @extend .clearfix;

        li {
            float: left;
            width: 72px;
            height: 72px;
            margin-left: 20px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 120%;
        border-bottom: 1px solid #A3A2A2;
    }
}
/*-------------------------------------------
#########         Service page        ##########
---------------------------------------------*/
.advantages {
    ul {
        list-style: none;
        padding: 0;

        li {
            @include lightText($fontLightSize: 0.75rem);
            @include make-sm-column(4);
            @include make-xs-column(12);
            padding: 40px;

            .advantage {
                text-align: center;
                padding: 20px;
                height: 220px;
                border: 2px solid #4CACC2;
                min-width: 200px;
                max-width: 400px;

                &_title {
                    @include boldText($fontBoldSize: 0.75rem);
                }

                p {
                    margin-top: 10px;
                }

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }
        }
    }
}

.notVisible {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes bounceInLeft {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInRight {
    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
/*-------------------------------------------
#########         Service page        ##########
---------------------------------------------*/
.about {
    @include lightText();
    background: url("../img/about.jpg");
    @extend .clearfix;
    background-size: cover;

    &_col {
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-sm-column-offset(1);
    }

    ul {
        @include make-xs-column(12);
        padding: 0;
        list-style: none;
        background: url("../img/bcg.png");
        background-size: 100% auto;
        background-position: center;

        li {
            display: inline-block;
            text-align: center;
            @include make-xs-column(4);

            p:first-of-type {
                @include boldText($fontBoldSize: 3.3rem, $colorBoldFont: #4CACC2);
            }

            p {
                @include lightText($fontLightSize: 0.9rem);
            }
        }
    }
}
/*-------------------------------------------
#########         Works page        ##########
---------------------------------------------*/
.works_previews {
    height: 100%;
  
    transition: height 5s;

    ul {
        list-style: none;
        padding: 0;
        @extend .clearfix;

        li {
            position: relative;
            @include make-xs-column(12);
            @include make-sm-column(4);
            max-width: 400px;
            padding: 2%;
            color: #ffffff;

            .works_previews {
                width: 100%;
                height: 100%;
                z-index: 2;
                position: relative;
            }

            .works_previews__active {
                z-index: 3;
                position: absolute;
                width: 90%;
                height: 90%;
                top: 5%;
                left: 5%;
                transition: border 1s 1s;

                &::before {
                    content: "";
                    width: 0;
                    height: 100%;
                    background-color: transparent;
                    transition: width 0.25s;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 0;
                    background-color: transparent;
                    transform: scaleY(0.1);
                    transition: height 0.25s, transform 0.25s;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
            }

            .btn {
                visibility: hidden;
                position: absolute;
                margin: 0 auto;
                left: 25%;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

            p {
                visibility: hidden;
                position: absolute;
                display: inline-block;
                top: 30%;
                margin: 0 auto;
                text-align: center;
            }
        }

        li:hover {
            overflow: hidden;
            position: relative;

            .works_previews {
                .works_previews__active {
                    &::before {
                        width: 100%;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                    }

                    &::after {
                        height: 100%;
                        transform: scaleY(1);
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }

                    .btn {
                        visibility: visible;
                        position: absolute;
                        z-index: 5;
                        bottom: 10px;
                    }

                    p {
                        visibility: visible;
                        position: absolute;
                        display: inline-block;
                        bottom: 40px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(55, 65, 69, 0.3);
                    z-index: 2;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.works_btn {
    text-transform: uppercase;
    margin: 0 auto;
    min-width: 120px;
    width: 15%;
    padding: 5px 10px;
    max-width: 400px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.open-works {
    transition: 0.25s;
    height: 100%;
}
/*-------------------------------------------
#########         Footer       ##########
---------------------------------------------*/
.footer {
    background-color: #4CACC2;
    padding-bottom: 58px;
    padding-top: 16px;

    p {
        @include regularText($fontRegularSize: 1.9rem, $colorRegularFont: #ffffff);
        padding-left: 5%;
    }

    .contacts {
        color: #ffffff;
        @include make-sm-column(8);
        @include make-xs-column(12);
        padding-left: 5%;
        min-width: 320px;
        @include flex-row();

        .contacts_col {
            width: 30%;
            display: block;
            float: left;
            min-width: 160px;
        }

        a {
            @include boldText($fontBoldSize: 1.1rem, $colorBoldFont: #ffffff);

            span {
                @include regularText($fontRegularSize: 1.1rem, $colorRegularFont: #ffffff);
            }
        }

        p {
            @include regularText($fontRegularSize: 1.1rem, $colorRegularFont: #ffffff);
            margin-top: 10px;
            padding-left: 0;
        }
    }

    .social {
        margin-top: 30px;
        @include make-sm-column(4);
        @include make-xs-column(12);
@extend .clearfix;
min-width: 320px;
        ul {
            padding: 0;
            list-style: none;
            @extend .clearfix;
            float: right;

            li {
                display: block;
                float: right;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 22px;
                border: 2px solid #fff;
                background-repeat: no-repeat;
                background-position: center;
                border-right: none;
            }

            .social-btn__vk {
                background-image: url("../img/vk.png");
            }

            .social-btn__fb {
                background-image: url("../img/fb.png");
            }

            .social-btn__inst {
                background-image: url("../img/inst.png");
            }
        }
    }
}
@media (max-width: 840px) {
    .footer {
        padding: 0;

        .contacts {
            margin: 0 auto;
            text-align: center;

            .contacts_col {
                float: none;
                margin: 0 auto;
                text-align: center;
            }
        }

        .social {
            margin: 0 auto;

            ul {
                float: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .service-grid {
        min-width: 320px;

        & ul {
            li {
                &:nth-child(even) {
                    border-right: none;
                }

                &:nth-last-child(-n+2) {
                    border-bottom: none;
                }

                &:nth-child(-n+2) {
                    border-top: none;
                }

                &:nth-child(odd) {
                    border-bottom: none;
                    border-left: none;
                }
            }
        }
    }
}
@media (min-width: 767px) {
    .service-grid {
        & ul {
            li {
                &:nth-child(4n) {
                    border-right: none;
                }

                &:nth-last-child(-n+4) {
                    border-bottom: none;
                }

                &:nth-child(-n+4) {
                    border-top: none;
                }

                &:nth-child(4n-3) {
                    border-bottom: none;
                    border-left: none;
                }
            }
        }
    }
}
